<div class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="/" class="header__logo">
        <img src="./img/logo.svg" alt="General Pay">
      </a>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__list-elem">
            <a href="#">Головна</a>
          </li>
          <li class="header__list-elem">
            <a href="#">Каталог товарів</a>
          </li>
          <li class="header__list-elem">
            <a href="#">Наші послуги</a>
          </li>
          <li class="header__list-elem">
            <a href="#">Оплата та доставка</a>
          </li>
          <li class="header__list-elem">
            <a href="#">Контакти</a>
          </li>
        </ul>
      </nav>
      <div class="header__handle">
        <div class="header__language dropdown">
          <div class="dropdown__header">
            <div class="dropdown__value">ua</div>
          </div>
          <div class="dropdown__body">
            <ul class="dropdown__body-list">
              <li class="dropdown__body-elem">
                <a href="#">ua</a>
              </li>
              <li class="dropdown__body-elem">
                <a href="#">ru</a>
              </li>
            </ul>
          </div>
        </div>
        <button class="header__btn btn-reset basket-btn">
          <svg width="27" height="24" class="">
            <use xlink:href="./img/icons/icons.svg#basket"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>